[package]
name = "e2e"
version = "0.1.0"
publish = false
edition = "2018"

[dev-dependencies]
anyhow = "1.0"
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
workspaces = { git = "https://github.com/near/workspaces-rs", rev="4c98a32682eaa3ebf24897de219c0fc14b2f24d1" }
